{
  "openapi": "3.1.0",
  "info": {
    "title": "Yir Standard Async AIGC API",
    "version": "1.0.0-preview",
    "description": "Public REST API of the Yir Unified Async AI Gateway: quote and submit image and video generation jobs, upload input files, read model contracts, and track jobs.\n\nCompatibility: this API only grows. New fields are optional, enums may gain values, and clients must ignore unknown fields and tolerate unknown enum values. Models, their parameters, allowed values and defaults come from the model contract (GET /v1/models?include=parameters) and change without an SDK release. A published model keeps its defaults, value meanings and billing semantics; a change to any of them ships as a new model ID. IDs are opaque strings; do not parse them. Deprecated fields stay for at least one minor SDK release and are announced in the SDK changelog."
  },
  "servers": [
    {
      "url": "https://gateway.yir.ai",
      "description": "Yir Unified Async AI Gateway (Bearer API Key authentication)"
    }
  ],
  "security": [{ "BearerAuth": [] }],
  "tags": [
    { "name": "Images" },
    { "name": "Videos" },
    { "name": "Files" },
    { "name": "Models" },
    { "name": "Jobs" }
  ],
  "paths": {
    "/v1/images/quotes": {
      "post": {
        "operationId": "quoteImageGeneration",
        "summary": "Quote an image job",
        "description": "Estimates the price and checks available supply for an image generation request. Creates no job and charges nothing.",
        "tags": ["Images"],
        "security": [{ "BearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/StandardImageQuoteRequest" },
              "example": {
                "model": "openai/gpt-image-2",
                "input": { "type": "text", "prompt": "A quiet observatory above a sea of clouds" },
                "parameters": { "resolution": "1K", "aspect_ratio": "1:1", "n": 1 },
                "routing": { "preference": "cost", "fallback": true }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Current advisory quote",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Quote" } } }
          },
          "400": { "$ref": "#/components/responses/InvalidRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "422": { "$ref": "#/components/responses/NoExecutableRoute" },
          "503": { "$ref": "#/components/responses/TemporarilyUnavailable" }
        }
      }
    },
    "/v1/images/generations": {
      "post": {
        "operationId": "submitImageGeneration",
        "summary": "Submit an image job",
        "tags": ["Images"],
        "security": [{ "BearerAuth": [] }],
        "parameters": [{ "$ref": "#/components/parameters/IdempotencyKey" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/StandardImageGenerationRequest" },
              "example": {
                "model": "openai/gpt-image-2",
                "input": { "type": "text", "prompt": "A quiet observatory above a sea of clouds" },
                "parameters": { "resolution": "1K", "aspect_ratio": "1:1", "n": 1 },
                "routing": { "preference": "cost", "fallback": true },
                "webhook_url": "https://example.com/webhooks/yir"
              }
            }
          }
        },
        "responses": {
          "202": { "$ref": "#/components/responses/JobAccepted" },
          "400": { "$ref": "#/components/responses/InvalidRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/InsufficientBalance" },
          "403": { "$ref": "#/components/responses/SpendLimitExceeded" },
          "409": { "$ref": "#/components/responses/Conflict" },
          "422": { "$ref": "#/components/responses/NoExecutableRoute" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "503": { "$ref": "#/components/responses/TemporarilyUnavailable" }
        }
      }
    },
    "/v1/quotes": {
      "post": {
        "operationId": "quoteBatch",
        "summary": "Quote up to 20 requests",
        "description": "Quotes up to 20 image or video requests against the same pricing snapshot. Each request is evaluated with the same rules as the corresponding single-request quote. An invalid request returns an error in its own result entry; pricing-data and infrastructure failures fail the entire call. This endpoint does not enumerate model specifications or infer equivalent quality across models.",
        "tags": ["Images", "Videos"],
        "security": [{ "BearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/QuoteBatchRequest" } } }
        },
        "responses": {
          "200": { "description": "Ordered quote and per-item validation results", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/QuoteBatch" } } } },
          "400": { "$ref": "#/components/responses/InvalidRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "422": { "$ref": "#/components/responses/NoExecutableRoute" },
          "503": { "$ref": "#/components/responses/TemporarilyUnavailable" }
        }
      }
    },
    "/v1/videos/quotes": {
      "post": {
        "operationId": "quoteVideoGeneration",
        "summary": "Quote a video job",
        "description": "Estimates the price and checks available supply for a video generation request. Creates no job and charges nothing.",
        "tags": ["Videos"],
        "security": [{ "BearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/StandardVideoQuoteRequest" },
              "example": {
                "model": "bytedance/seedance-2.0",
                "input": { "type": "text", "prompt": "A paper boat crossing a rain-covered city street" },
                "parameters": { "duration": 5, "resolution": "720p", "aspect_ratio": "16:9", "generate_audio": false, "n": 1 },
                "routing": { "preference": "cost", "fallback": true }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Current advisory quote",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Quote" } } }
          },
          "400": { "$ref": "#/components/responses/InvalidRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "422": { "$ref": "#/components/responses/NoExecutableRoute" },
          "503": { "$ref": "#/components/responses/TemporarilyUnavailable" }
        }
      }
    },
    "/v1/videos/generations": {
      "post": {
        "operationId": "submitVideoGeneration",
        "summary": "Submit a video job",
        "tags": ["Videos"],
        "security": [{ "BearerAuth": [] }],
        "parameters": [{ "$ref": "#/components/parameters/IdempotencyKey" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/StandardVideoGenerationRequest" },
              "example": {
                "model": "bytedance/seedance-2.0",
                "input": {
                  "type": "image",
                  "prompt": "The subject turns toward the sunrise",
                  "references": [{ "role": "first_frame", "file_id": "file_11111111-1111-4111-8111-111111111111" }]
                },
                "parameters": { "duration": 4, "resolution": "480p", "aspect_ratio": "16:9", "generate_audio": false, "n": 1 },
                "routing": { "preference": "cost", "fallback": true },
                "webhook_url": "https://example.com/webhooks/yir"
              }
            }
          }
        },
        "responses": {
          "202": { "$ref": "#/components/responses/JobAccepted" },
          "400": { "$ref": "#/components/responses/InvalidRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "$ref": "#/components/responses/InsufficientBalance" },
          "403": { "$ref": "#/components/responses/SpendLimitExceeded" },
          "409": { "$ref": "#/components/responses/Conflict" },
          "422": { "$ref": "#/components/responses/NoExecutableRoute" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "503": { "$ref": "#/components/responses/TemporarilyUnavailable" }
        }
      }
    },
    "/v1/files": {
      "post": {
        "operationId": "createFiles",
        "summary": "Create upload plans",
        "tags": ["Files"],
        "security": [{ "BearerAuth": [] }],
        "parameters": [{ "$ref": "#/components/parameters/FileIdempotencyKey" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateFilesRequest" },
              "example": {
                "files": [{ "name": "first-frame.png", "media_type": "image/png", "size": 1024 }],
                "upload_mode": "auto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Upload plans created",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateFilesResponse" } } }
          },
          "400": { "$ref": "#/components/responses/InvalidRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "409": { "$ref": "#/components/responses/Conflict" },
          "503": { "$ref": "#/components/responses/TemporarilyUnavailable" }
        }
      }
    },
    "/v1/files/{id}/complete": {
      "post": {
        "operationId": "completeFile",
        "summary": "Complete a file upload",
        "tags": ["Files"],
        "security": [{ "BearerAuth": [] }],
        "parameters": [{ "$ref": "#/components/parameters/FileID" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CompleteFileRequest" },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Current file snapshot",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/File" } } }
          },
          "400": { "$ref": "#/components/responses/InvalidRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/Conflict" },
          "410": { "$ref": "#/components/responses/Gone" },
          "503": { "$ref": "#/components/responses/TemporarilyUnavailable" }
        }
      }
    },
    "/v1/files/{id}": {
      "get": {
        "operationId": "getFile",
        "summary": "Get a file",
        "tags": ["Files"],
        "security": [{ "BearerAuth": [] }],
        "parameters": [{ "$ref": "#/components/parameters/FileID" }],
        "responses": {
          "200": {
            "description": "Current file snapshot",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/File" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "503": { "$ref": "#/components/responses/TemporarilyUnavailable" }
        }
      }
    },
    "/v1/files/{id}/content": {
      "get": {
        "operationId": "getFileContent",
        "summary": "Download file content",
        "tags": ["Files"],
        "security": [{ "BearerAuth": [] }],
        "parameters": [{ "$ref": "#/components/parameters/FileID" }],
        "responses": {
          "307": {
            "description": "Temporary redirect to a short-lived signed URL",
            "headers": {
              "Location": { "required": true, "schema": { "type": "string", "format": "uri" } }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/Conflict" },
          "410": { "$ref": "#/components/responses/Gone" },
          "503": { "$ref": "#/components/responses/TemporarilyUnavailable" }
        }
      }
    },
    "/v1/models": {
      "get": {
        "operationId": "listModelContracts",
        "summary": "List models",
        "description": "Lists the public parameter contracts of supported models. By default returns model identities and localized labels. include=parameters expands operations, input constraints and parameter rules. The version identifies the complete contract and is the same for compact and expanded responses. Support does not imply current supply availability or an executable quote. No prices or channel details are returned.",
        "tags": ["Models"],
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "include", "in": "query", "schema": { "type": "string", "const": "parameters" }, "description": "Expand public parameter contracts. Other or repeated query parameters are rejected." }
        ],
        "responses": {
          "200": { "description": "Compact or expanded model contracts", "content": { "application/json": { "schema": { "oneOf": [{ "$ref": "#/components/schemas/ModelContractList" }, { "$ref": "#/components/schemas/ModelContractCatalog" }] } } } },
          "400": { "$ref": "#/components/responses/InvalidRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "503": { "$ref": "#/components/responses/TemporarilyUnavailable" }
        }
      }
    },
    "/v1/models/{creator}/{model}": {
      "get": {
        "operationId": "getModel",
        "summary": "Get a model",
        "description": "Without query parameters returns the model detail. view=contract requires the canonical creator/model ID and returns its public parameter contract with the same content version as the model list, without querying price or current supply. Aliases may be used in generation requests but are not resource paths.",
        "tags": ["Models"],
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/ModelCreator" },
          { "$ref": "#/components/parameters/ModelName" },
          { "name": "view", "in": "query", "schema": { "type": "string", "const": "contract" }, "description": "Returns the public parameter contract; no other query parameters are accepted." }
        ],
        "responses": {
          "200": {
            "description": "Model detail or versioned parameter contract",
            "content": { "application/json": { "schema": { "oneOf": [{ "$ref": "#/components/schemas/ModelDetail" }, { "$ref": "#/components/schemas/ModelContractDetail" }] } } }
          },
          "400": { "$ref": "#/components/responses/InvalidRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "503": { "$ref": "#/components/responses/TemporarilyUnavailable" }
        }
      }
    },
    "/v1/jobs/{id}": {
      "get": {
        "operationId": "getJob",
        "summary": "Get a job",
        "description": "A job snapshot stays readable for 90 days from creation, the same window as request log retention. After that window the endpoint answers 404 exactly as it does for an unknown job id, and the response never discloses which of the two cases applies.",
        "tags": ["Jobs"],
        "security": [{ "BearerAuth": [] }],
        "parameters": [{ "$ref": "#/components/parameters/JobID" }],
        "responses": {
          "200": {
            "description": "Current job snapshot",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Job" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "503": { "$ref": "#/components/responses/TemporarilyUnavailable" }
        }
      }
    },
    "/v1/jobs/{id}/status": {
      "get": {
        "operationId": "getJobStatus",
        "summary": "Get job status",
        "description": "Returns a minimal status projection without loading attempts, billing ledgers, or result assets. Follows the same 90-day retention window as job snapshots. With wait, the request long-polls: a terminal job returns immediately; otherwise the response is held until the status or cancellation state changes or the wait elapses, then returns the current summary.",
        "tags": ["Jobs"],
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/JobID" },
          { "name": "wait", "in": "query", "required": false, "schema": { "type": "integer", "minimum": 0, "default": 0 }, "description": "Seconds to hold the request while the job is not terminal. 0 or omitted returns immediately; values above 30 are treated as 30. Keep the client request timeout longer than the wait." }
        ],
        "responses": {
          "200": {
            "description": "Current job status summary",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/JobStatusResponse" } } }
          },
          "400": { "$ref": "#/components/responses/InvalidRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "503": { "$ref": "#/components/responses/TemporarilyUnavailable" }
        }
      }
    },
    "/v1/jobs/{id}/cancel": {
      "post": {
        "operationId": "cancelJob",
        "summary": "Cancel a job",
        "description": "Before any provider submission, the job becomes cancelled and nothing is charged. After a submission, Yir starts no further fallback attempts while the current attempt keeps running; every attempt the upstream billed is still charged.",
        "tags": ["Jobs"],
        "security": [{ "BearerAuth": [] }],
        "parameters": [{ "$ref": "#/components/parameters/JobID" }],
        "responses": {
          "200": {
            "description": "Current job snapshot after applying cancellation semantics",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Job" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/Conflict" },
          "503": { "$ref": "#/components/responses/TemporarilyUnavailable" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": { "type": "http", "scheme": "bearer", "bearerFormat": "YIR_API_KEY" }
    },
    "parameters": {
      "FileIdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": false,
        "description": "Optional for input-file upload plans. Replaying the same key with identical file metadata returns the original plan; reusing a key with changed metadata is rejected. Without a key, each request creates a new plan. SDK file helpers require a caller-persisted key for recovery.",
        "schema": { "type": "string", "minLength": 1, "maxLength": 200 }
      },
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": true,
        "description": "Required. Missing or blank keys are rejected with a non-retryable 400 before any resource is created or anything is charged. Replaying the same key with an identical standardized request returns the original result; reusing a key with a changed request is rejected. Generation SDK methods accept an omitted key and generate a random key per call; they do not automatically retry Submit. Persist one key per logical request before submitting and reuse it with the original request when the outcome is unknown. Separate SDK calls without an explicit key can create separate billable Jobs. Server-side fallback within an accepted Job is independent of this header.",
        "schema": { "type": "string", "minLength": 1, "maxLength": 200 }
      },
      "JobID": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "minLength": 1, "maxLength": 64, "description": "Opaque Job ID." }
      },
      "FileID": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": { "$ref": "#/components/schemas/FileID" }
      },
      "ModelCreator": {
        "name": "creator",
        "in": "path",
        "required": true,
        "schema": { "$ref": "#/components/schemas/ModelPathSegment" }
      },
      "ModelName": {
        "name": "model",
        "in": "path",
        "required": true,
        "schema": { "$ref": "#/components/schemas/ModelPathSegment" }
      }
    },
    "responses": {
      "JobAccepted": {
        "description": "Job accepted",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Job" } } }
      },
      "InvalidRequest": { "$ref": "#/components/responses/StandardError" },
      "Unauthorized": { "$ref": "#/components/responses/StandardError" },
      "InsufficientBalance": { "$ref": "#/components/responses/StandardError" },
      "SpendLimitExceeded": { "$ref": "#/components/responses/StandardError" },
      "Conflict": { "$ref": "#/components/responses/StandardError" },
      "NoExecutableRoute": { "$ref": "#/components/responses/StandardError" },
      "RateLimited": { "$ref": "#/components/responses/StandardError" },
      "NotFound": { "$ref": "#/components/responses/StandardError" },
      "Gone": { "$ref": "#/components/responses/StandardError" },
      "TemporarilyUnavailable": { "$ref": "#/components/responses/StandardError" },
      "StandardError": {
        "description": "Stable Yir Standard error",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
      }
    },
    "schemas": {
      "ModelPathSegment": {
        "type": "string",
        "minLength": 1,
        "maxLength": 100,
        "pattern": "^[a-z0-9](?:[a-z0-9._-]*[a-z0-9])?$"
      },
      "FileID": {
        "type": "string",
        "pattern": "^file_[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
      },
      "InputURL": {
        "type": "string",
        "format": "uri",
        "maxLength": 2048,
        "pattern": "^https://",
        "description": "Public HTTPS URL of a reference image, video or audio file. Yir downloads it once at submission (up to 100 MiB, 3 redirects, private and reserved addresses refused), detects the type from the file contents, and stores it as an input file so every attempt and fallback reads the same bytes. Data URLs are not accepted. A URL that cannot be imported returns YIR_INVALID_REQUEST naming the reference; retryable is true only for remote timeouts, connection failures, HTTP 429 and 5xx. Quote does not download URLs, so prices that depend on input media are only estimated; upload through the Files API for larger files or exact media-dependent quotes."
      },
      "RoutingOverride": {
        "type": "object",
        "additionalProperties": false,
        "description": "Request-scoped routing intent. only is an unordered Provider allowlist; selection and fallback stay within this set and within any channel restrictions on the API Key's routing profile. 'official' is accepted as an alias for the model's official provider channel in both only and variants (normalized before execution). A single item supports targeted testing. Custom order is not supported. preference and fallback remain optional.",
        "properties": {
          "variants": {
            "type": "object", "minProperties": 1, "maxProperties": 16,
            "description": "Provider-to-channel-variant selection. Providers omitted from this map consider all eligible variants; explicitly select standard to restrict a provider to its standard variant. Keys must belong to only when only is supplied ('official' alias is resolved before whitelist validation). Explicitly selected unknown or unavailable variants never fall back to another variant of the same provider.",
            "propertyNames": { "type": "string", "minLength": 1, "maxLength": 50, "pattern": "^[a-z][a-z0-9]*(?:[-_][a-z0-9]+)*$" },
            "additionalProperties": { "type": "string", "minLength": 1, "maxLength": 50, "pattern": "^[a-z][a-z0-9]*(?:[-_][a-z0-9]+)*$" }
          },
          "preference": { "type": "string", "enum": ["cost", "speed"], "description": "Overrides the routing profile default for route ordering. cost (the default) orders routes by estimated price, lowest first. speed orders routes by observed upstream median latency for the same model and specification, fastest first; routes with fewer than 10 recent samples follow, ordered by estimated price. max_cost, only and fallback apply unchanged." },
          "only": { "type": "array", "minItems": 1, "maxItems": 16, "uniqueItems": true, "items": { "type": "string", "minLength": 1, "maxLength": 50, "pattern": "^[a-z][a-z0-9]*(?:[-_][a-z0-9]+)*$" } },
          "fallback": { "type": "boolean" }
        }
      },
      "StandardImageTextInput": {
        "type": "object",
        "additionalProperties": false,
        "required": ["type", "prompt"],
        "properties": {
          "type": { "type": "string", "const": "text" },
          "prompt": { "type": "string", "minLength": 1, "maxLength": 20000, "pattern": "\\S" }
        }
      },
      "StandardImageReferenceInput": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "type",
          "prompt",
          "references"
        ],
        "properties": {
          "type": {
            "type": "string",
            "const": "image"
          },
          "prompt": {
            "type": "string",
            "minLength": 1,
            "maxLength": 20000,
            "pattern": "\\S"
          },
          "references": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "role"
              ],
              "properties": {
                "role": {
                  "type": "string",
                  "enum": [
                    "reference_image"
                  ]
                },
                "file_id": {
                  "$ref": "#/components/schemas/FileID"
                },
                "url": {
                  "$ref": "#/components/schemas/InputURL"
                }
              },
              "oneOf": [
                {
                  "required": [
                    "file_id"
                  ]
                },
                {
                  "required": [
                    "url"
                  ]
                }
              ]
            },
            "description": "Ordered references. Model contracts determine counts and required roles."
          }
        }
      },
      "ActualBillingMode": {
        "type": "string",
        "const": "actual",
        "description": "Explicit consent to the authoritative actual cost of every upstream-billed attempt of the Job, without a max_cost cap. Only KIE/APIMart Kling 2.6/3.0 Motion Control and FAL FLUX 2 Pro image editing are supported; routing.only must explicitly select these channels. Cannot be combined with max_cost. Insufficient wallet funds become Job debt repaid by future manual recharge; outstanding debt blocks new Jobs. Every attempt the upstream actually billed is charged to the user, including failed and non-winning ones; attempts the upstream did not bill, and Yir's own delivery failures or outcome timeouts, are not charged. Omit for the default contract: balance is not frozen, each attempt checks the live balance against its route estimate, each upstream-billed attempt is charged at the authoritative upstream amount after the managed discount, and an explicit max_cost caps the Job's total charge."
      },
      "StandardImageGenerationRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "model",
          "input",
          "parameters"
        ],
        "properties": {
          "billing_mode": { "$ref": "#/components/schemas/ActualBillingMode" },
          "max_cost": {
            "$ref": "#/components/schemas/MaxCost"
          },
          "model": {
            "type": "string",
            "minLength": 1,
            "description": "Model ID or alias listed by GET /v1/models. An unknown or retired model returns 400 YIR_INVALID_REQUEST with retryable false; for a retired model the message names its replacement."
          },
          "input": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/StandardImageTextInput"
              },
              {
                "$ref": "#/components/schemas/StandardImageReferenceInput"
              }
            ]
          },
          "routing": {
            "$ref": "#/components/schemas/RoutingOverride"
          },
          "webhook_url": {
            "type": "string",
            "format": "uri",
            "maxLength": 1000,
            "pattern": "^https://"
          },
          "parameters": {
            "type": "object",
            "additionalProperties": true,
            "description": "Generation parameters. The model contract (GET /v1/models?include=parameters) lists each model's parameters, allowed values and defaults; this schema documents only the common ones. Omitted parameters take the model's published default. Parameters the model contract does not list are rejected.",
            "properties": {
              "quality": { "type": "string", "description": "Minimum image quality tier; allowed values come from the model contract. For GPT Image the tier is a routing constraint: only channels that serve it run the request, and it is never ignored or lowered. When omitted, any channel may run and quality-capable channels use medium. auto is rejected." },
              "resolution": {
                "type": "string",
                "minLength": 1
              },
              "aspect_ratio": {
                "type": "string",
                "minLength": 1
              },
              "n": {
                "type": "integer",
                "enum": [
                  1
                ]
              }
            }
          }
        },
        "description": "Portable image request shape. Each model, input mode and parameter combination is validated against the model contract, and the request is rejected when no route can run it."
      },
      "StandardImageQuoteRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "model",
          "input",
          "parameters"
        ],
        "properties": {
          "billing_mode": { "$ref": "#/components/schemas/ActualBillingMode" },
          "model": {
            "type": "string",
            "minLength": 1,
            "description": "Model ID or alias listed by GET /v1/models. An unknown or retired model returns 400 YIR_INVALID_REQUEST with retryable false; for a retired model the message names its replacement."
          },
          "input": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/StandardImageTextInput"
              },
              {
                "$ref": "#/components/schemas/StandardImageReferenceInput"
              }
            ]
          },
          "routing": {
            "$ref": "#/components/schemas/RoutingOverride"
          },
          "parameters": {
            "type": "object",
            "additionalProperties": true,
            "description": "Generation parameters. The model contract (GET /v1/models?include=parameters) lists each model's parameters, allowed values and defaults; this schema documents only the common ones. Omitted parameters take the model's published default. Parameters the model contract does not list are rejected.",
            "properties": {
              "quality": { "type": "string", "description": "Minimum image quality tier; allowed values come from the model contract. For GPT Image the tier is a routing constraint: only channels that serve it run the request, and it is never ignored or lowered. When omitted, any channel may run and quality-capable channels use medium. auto is rejected." },
              "resolution": {
                "type": "string",
                "minLength": 1
              },
              "aspect_ratio": {
                "type": "string",
                "minLength": 1
              },
              "n": {
                "type": "integer",
                "enum": [
                  1
                ]
              }
            }
          }
        },
        "description": "The image generation request contract without webhook_url or max_cost. A quote creates no job and charges nothing."
      },
      "StandardVideoTextInput": {
        "type": "object",
        "additionalProperties": false,
        "required": ["type", "prompt"],
        "properties": {
          "type": { "type": "string", "const": "text" },
          "prompt": { "type": "string", "minLength": 1, "maxLength": 20000, "pattern": "\\S" }
        }
      },
      "StandardVideoImageInput": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "type",
          "prompt",
          "references"
        ],
        "properties": {
          "type": {
            "type": "string",
            "const": "image"
          },
          "prompt": {
            "type": "string",
            "minLength": 1,
            "maxLength": 20000,
            "pattern": "\\S"
          },
          "references": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "role"
              ],
              "properties": {
                "role": {
                  "type": "string",
                  "enum": [
                    "first_frame",
                    "last_frame"
                  ]
                },
                "file_id": {
                  "$ref": "#/components/schemas/FileID"
                },
                "url": {
                  "$ref": "#/components/schemas/InputURL"
                }
              },
              "oneOf": [
                {
                  "required": [
                    "file_id"
                  ]
                },
                {
                  "required": [
                    "url"
                  ]
                }
              ]
            },
            "description": "Ordered references. Model contracts determine counts and required roles."
          }
        }
      },
      "StandardVideoReferenceInput": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "type",
          "prompt",
          "references"
        ],
        "properties": {
          "type": {
            "type": "string",
            "const": "reference"
          },
          "prompt": {
            "type": "string",
            "minLength": 1,
            "maxLength": 20000,
            "pattern": "\\S"
          },
          "references": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "role"
              ],
              "properties": {
                "role": {
                  "type": "string",
                  "enum": [
                    "reference_image",
                    "reference_video",
                    "reference_audio"
                  ]
                },
                "file_id": {
                  "$ref": "#/components/schemas/FileID"
                },
                "url": {
                  "$ref": "#/components/schemas/InputURL"
                }
              },
              "oneOf": [
                {
                  "required": [
                    "file_id"
                  ]
                },
                {
                  "required": [
                    "url"
                  ]
                }
              ]
            },
            "description": "Ordered references. Model contracts determine counts and required roles."
          }
        }
      },
      "StandardVideoGenerationRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "model",
          "input",
          "parameters"
        ],
        "properties": {
          "billing_mode": { "$ref": "#/components/schemas/ActualBillingMode" },
          "max_cost": {
            "$ref": "#/components/schemas/MaxCost"
          },
          "model": {
            "type": "string",
            "minLength": 1,
            "description": "Model ID or alias listed by GET /v1/models. An unknown or retired model returns 400 YIR_INVALID_REQUEST with retryable false; for a retired model the message names its replacement."
          },
          "input": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/StandardVideoTextInput"
              },
              {
                "$ref": "#/components/schemas/StandardVideoImageInput"
              },
              {
                "$ref": "#/components/schemas/StandardVideoReferenceInput"
              }
            ]
          },
          "routing": {
            "$ref": "#/components/schemas/RoutingOverride"
          },
          "webhook_url": {
            "type": "string",
            "format": "uri",
            "maxLength": 1000,
            "pattern": "^https://"
          },
          "parameters": {
            "type": "object",
            "additionalProperties": true,
            "description": "Generation parameters. The model contract (GET /v1/models?include=parameters) lists each model's parameters, allowed values and defaults; this schema documents only the common ones. Omitted parameters take the model's published default. Parameters the model contract does not list are rejected.",
            "properties": {
              "duration": {
                "type": "integer",
                "minimum": 1,
                "description": "Output length in seconds; allowed values come from the model contract."
              },
              "resolution": {
                "type": "string",
                "minLength": 1
              },
              "aspect_ratio": {
                "type": "string",
                "minLength": 1
              },
              "generate_audio": {
                "type": "boolean"
              },
              "n": {
                "type": "integer",
                "enum": [
                  1
                ]
              }
            }
          }
        },
        "description": "Portable video request shape. Each model, input mode and parameter combination is validated against the model contract, and the request is rejected when no route can run it."
      },
      "StandardVideoQuoteRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "model",
          "input",
          "parameters"
        ],
        "properties": {
          "billing_mode": { "$ref": "#/components/schemas/ActualBillingMode" },
          "model": {
            "type": "string",
            "minLength": 1,
            "description": "Model ID or alias listed by GET /v1/models. An unknown or retired model returns 400 YIR_INVALID_REQUEST with retryable false; for a retired model the message names its replacement."
          },
          "input": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/StandardVideoTextInput"
              },
              {
                "$ref": "#/components/schemas/StandardVideoImageInput"
              },
              {
                "$ref": "#/components/schemas/StandardVideoReferenceInput"
              }
            ]
          },
          "routing": {
            "$ref": "#/components/schemas/RoutingOverride"
          },
          "parameters": {
            "type": "object",
            "additionalProperties": true,
            "description": "Generation parameters. The model contract (GET /v1/models?include=parameters) lists each model's parameters, allowed values and defaults; this schema documents only the common ones. Omitted parameters take the model's published default. Parameters the model contract does not list are rejected.",
            "properties": {
              "duration": {
                "type": "integer",
                "minimum": 1,
                "description": "Output length in seconds; allowed values come from the model contract."
              },
              "resolution": {
                "type": "string",
                "minLength": 1
              },
              "aspect_ratio": {
                "type": "string",
                "minLength": 1
              },
              "generate_audio": {
                "type": "boolean"
              },
              "n": {
                "type": "integer",
                "enum": [
                  1
                ]
              }
            }
          }
        },
        "description": "The video generation request contract without webhook_url or max_cost. A quote creates no job and charges nothing."
      },
      "MaxCost": {
        "type": "string",
        "pattern": "^[0-9]{1,13}(\\.[0-9]{1,6})?$",
        "maxLength": 20,
        "description": "Optional cap on the Job's total charge in USD, with up to 6 decimal places. Balance is not frozen: admission and every attempt submission check the live available balance against that route's estimate (catalog price for fixed routes, output estimate for usage-based routes). Every attempt the upstream actually billed is charged at the authoritative upstream amount after the managed discount, whether it succeeded, failed, or was followed by a fallback; attempts the upstream never billed cost nothing, and Yir absorbs its own delivery failures and outcome timeouts. A result the upstream billed that Yir rejects as `YIR_CONTENT_REJECTED` is charged the same way but not delivered. Any part the balance cannot cover becomes a negative balance that blocks new jobs until a top-up. With max_cost, routes whose estimate exceeds it are skipped (no remaining route rejects the request), and the Job's total charge across all attempts never exceeds it; Yir absorbs any excess. Historical jobs retain their recorded billing terms."
      },
      "QuoteBatchRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["requests"],
        "properties": {
          "requests": {
            "type": "array", "minItems": 1, "maxItems": 20,
            "items": {
              "oneOf": [
                {
                  "type": "object", "additionalProperties": false, "required": ["operation", "request"],
                  "properties": {
                    "operation": { "const": "generate_image" },
                    "request": { "$ref": "#/components/schemas/StandardImageQuoteRequest" }
                  }
                },
                {
                  "type": "object", "additionalProperties": false, "required": ["operation", "request"],
                  "properties": {
                    "operation": { "const": "generate_video" },
                    "request": { "$ref": "#/components/schemas/StandardVideoQuoteRequest" }
                  }
                }
              ]
            }
          }
        }
      },
      "QuoteBatch": {
        "type": "object", "additionalProperties": false,
        "required": ["object", "data", "request_id"],
        "properties": {
          "object": { "const": "quote_batch" },
          "data": { "type": "array", "minItems": 1, "maxItems": 20, "items": { "$ref": "#/components/schemas/QuoteBatchItem" } },
          "request_id": { "type": "string", "minLength": 1 }
        }
      },
      "QuoteBatchItem": {
        "oneOf": [
          {
            "type": "object", "additionalProperties": false, "required": ["index", "quote"],
            "properties": { "index": { "type": "integer", "minimum": 0, "maximum": 19 }, "quote": { "$ref": "#/components/schemas/Quote" } }
          },
          {
            "type": "object", "additionalProperties": false, "required": ["index", "error"],
            "properties": { "index": { "type": "integer", "minimum": 0, "maximum": 19 }, "error": { "$ref": "#/components/schemas/Error" } }
          }
        ]
      },
      "Quote": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "supply",
          "object",
          "model",
          "operation",
          "input_mode",
          "parameters",
          "currency",
          "expires_at",
          "primary",
          "official"
        ],
        "properties": {
          "parameter_notices": { "type": "array", "items": { "$ref": "#/components/schemas/ParameterNotice" }, "description": "Expected primary-channel handling; actual handling is reported by the successful Job." },
          "billing_mode": { "$ref": "#/components/schemas/ActualBillingMode" },
          "parameter_handling_may_vary": { "type": "boolean", "description": "Fallback may handle parameters differently." },
          "supply": {
            "type": "object",
            "additionalProperties": false,
            "required": ["available", "issues"],
            "properties": {
              "available": { "type": "boolean" },
              "requires_max_cost": { "type": "boolean", "deprecated": true, "description": "Deprecated, always false. Not part of the contract; still emitted for SDKs before TypeScript 0.9 and Go 0.10 and will be removed." },
              "issues": { "type": "array", "items": { "type": "string", "enum": ["no_matching_supply"] } }
            },
            "description": "Whether any route can currently serve this request. Available supply has an empty issues array; requires_max_cost is always false. No matching supply returns available=false and no_matching_supply, with primary/max unavailable. Authentication, invalid requests, and infrastructure failures remain errors."
          },
          "object": {
            "type": "string",
            "const": "quote"
          },
          "model": {
            "type": "string",
            "minLength": 1
          },
          "operation": {
            "type": "string",
            "enum": [
              "generate_image",
              "generate_video"
            ]
          },
          "input_mode": {
            "type": "string",
            "enum": [
              "text",
              "image",
              "reference"
            ]
          },
          "parameters": {
            "$ref": "#/components/schemas/QuoteParameters"
          },
          "currency": {
            "type": "string",
            "const": "USD"
          },
          "single_attempt_upper_bound": {
            "deprecated": true,
            "description": "Deprecated, always null. Not part of the contract; still emitted for SDKs before TypeScript 0.9 and Go 0.10 and will be removed. Use max_cost to cap a Job.",
            "oneOf": [
              { "$ref": "#/components/schemas/Decimal" },
              { "type": "null" }
            ]
          },
          "has_verifiable_upper_bound": {
            "type": "boolean",
            "deprecated": true,
            "description": "Deprecated, always false. Not part of the contract; still emitted for older SDKs and will be removed."
          },
          "expires_at": {
            "type": "integer",
            "format": "int64",
            "minimum": 1
          },
          "primary": {
            "description": "Current preferred route's estimate: its catalog reference price for fixed-price routes, or an output-only estimate for usage-based routes; otherwise unavailable. The Job is charged the authoritative upstream amounts of its billed attempts after the managed discount, which can differ from this estimate. An output-only estimate excludes input charges; neither is a charge ceiling, and Submit rechecks current facts. The independent official reference is reported in official.",
            "oneOf": [
              { "$ref": "#/components/schemas/OutputQuoteEstimate" },
              {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "kind",
                  "amount"
                ],
                "properties": {
                  "kind": {
                    "const": "fixed"
                  },
                  "amount": {
                    "$ref": "#/components/schemas/Decimal"
                  }
                }
              },
              {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "kind",
                  "amount",
                  "reason"
                ],
                "properties": {
                  "kind": {
                    "const": "unavailable"
                  },
                  "amount": {
                    "type": "null"
                  },
                  "reason": {
                    "type": "string",
                    "minLength": 1
                  }
                }
              }
            ]
          },
          "max": {
            "deprecated": true,
            "description": "Deprecated, repeats primary. Not part of the contract; still emitted for SDKs before TypeScript 0.9 and Go 0.10 and will be removed. Not a charge ceiling; set max_cost to bound the charge.",
            "oneOf": [
              { "$ref": "#/components/schemas/OutputQuoteEstimate" },
              {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "kind",
                  "amount"
                ],
                "properties": {
                  "kind": {
                    "const": "fixed"
                  },
                  "amount": {
                    "$ref": "#/components/schemas/Decimal"
                  }
                }
              },
              {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "kind",
                  "amount",
                  "reason"
                ],
                "properties": {
                  "kind": {
                    "const": "unavailable"
                  },
                  "amount": {
                    "type": "null"
                  },
                  "reason": {
                    "type": "string",
                    "minLength": 1
                  }
                }
              }
            ]
          },
          "official": {
            "oneOf": [
              { "$ref": "#/components/schemas/OutputQuoteEstimate" },
              {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "kind",
                  "amount"
                ],
                "properties": {
                  "kind": {
                    "const": "fixed"
                  },
                  "amount": {
                    "$ref": "#/components/schemas/Decimal"
                  }
                }
              },
              {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "kind",
                  "amount",
                  "reason"
                ],
                "properties": {
                  "kind": {
                    "const": "unavailable"
                  },
                  "amount": {
                    "type": "null"
                  },
                  "reason": {
                    "type": "string",
                    "minLength": 1
                  }
                }
              }
            ]
          },
          "price_difference_percent": {
            "type": "object",
            "additionalProperties": false,
            "description": "Optional comparison with the official reference. Negative values mean a lower Yir price. Complete fixed prices are compared only with complete fixed prices. Output-only estimates are compared only when both prices use identical output assumptions; that comparison excludes input and other charges.",
            "required": ["min", "max"],
            "properties": {
              "min": { "type": "number" },
              "max": { "type": "number" },
              "reference_amount_micros": { "type": "integer", "format": "int64", "minimum": 0 }
            }
          }
        }
      },
      "OutputQuoteEstimate": {
        "type": "object", "additionalProperties": false,
        "description": "Generated output only. Input and other charges are excluded. Not an authorization ceiling.",
        "required": ["kind", "amount", "estimate"],
        "properties": {
          "kind": { "const": "estimate" },
          "amount": { "$ref": "#/components/schemas/Decimal" },
          "estimate": {
            "type": "object", "additionalProperties": false,
            "required": ["scope"],
            "oneOf": [{ "required": ["output_tokens"] }, { "required": ["output_megapixels"] }],
            "properties": {
              "scope": { "const": "output_only" },
              "output_tokens": { "type": "integer", "minimum": 1, "maximum": 1000000 },
              "output_megapixels": { "type": "integer", "minimum": 1, "maximum": 1000000, "description": "Billable whole output megapixels using the model's declared pixel unit; excludes input megapixels. Mutually exclusive with output_tokens." },
              "quality": { "type": "string", "minLength": 1, "description": "Reference quality used for the output estimate. Omitted quality uses the catalog's medium reference when available; this does not change generation parameters." },
              "aspect_ratio": { "type": "string", "minLength": 1, "description": "Reference aspect ratio used for the output estimate. Automatic aspect ratio uses a declared square reference when available; explicitly selected unsupported ratios remain unavailable." }
            }
          }
        }
      },
      "QuoteParameters": {
        "type": "object",
        "additionalProperties": false,
        "required": ["duration", "resolution", "aspect_ratio", "generate_audio", "n"],
        "properties": {
          "quality": { "type": "string", "enum": ["low", "medium", "high", "xhigh", "max"] },
          "web_search": { "type": "boolean" },
          "image_search": { "type": "boolean" },
          "return_last_frame": { "type": "boolean" },
          "duration": { "type": "integer", "minimum": 0 },
          "resolution": { "type": "string", "minLength": 1 },
          "aspect_ratio": { "type": "string", "minLength": 1 },
          "generate_audio": { "type": "boolean" },
          "n": { "type": "integer", "minimum": 1 }
        }
      },
      "Error": {
        "type": "object",
        "additionalProperties": false,
        "required": ["code", "message", "retryable"],
        "properties": {
          "code": {
            "type": "string",
            "enum": [
              "YIR_INVALID_REQUEST", "YIR_UNAUTHORIZED", "YIR_INVALID_ROUTING_OVERRIDE",
              "YIR_ROUTING_OVERRIDE_NOT_ALLOWED", "YIR_INSUFFICIENT_BALANCE", "YIR_BUDGET_EXCEEDED", "YIR_SPEND_LIMIT_EXCEEDED", "YIR_JOB_NOT_FOUND",
              "YIR_FILE_NOT_FOUND", "YIR_FILE_NOT_READY", "YIR_FILE_EXPIRED", "YIR_MODEL_NOT_FOUND",
              "YIR_IDEMPOTENCY_CONFLICT", "YIR_JOB_NOT_CANCELLABLE", "YIR_NO_EXECUTABLE_ROUTE",
              "YIR_RATE_LIMITED", "YIR_TEMPORARILY_UNAVAILABLE", "YIR_EXECUTION_FAILED",
              "YIR_CONTENT_REJECTED", "YIR_OUTCOME_TIMEOUT", "YIR_RESULT_DELIVERY_FAILED"
            ]
          },
          "message": { "type": "string", "minLength": 1 },
          "retryable": { "type": "boolean" },
          "action": { "type": "string", "enum": ["fix_request", "modify_input", "add_funds", "retry_later", "contact_support"] },
          "details": {
            "type": "array",
            "minItems": 1,
            "description": "Field-level causes of a YIR_INVALID_REQUEST error, for correcting the request without parsing message.",
            "items": {
              "type": "object",
              "additionalProperties": false,
              "required": ["field", "reason"],
              "properties": {
                "field": { "type": "string", "minLength": 1, "description": "Request path, for example parameters.resolution or input.references.0.role." },
                "reason": { "type": "string", "enum": ["invalid_body", "unknown_field", "wrong_type", "required", "unsupported", "not_allowed", "invalid", "retired"] },
                "allowed": { "type": "array", "items": { "type": "string" }, "description": "Contract values the field accepts; for a retired model, its replacement." },
                "expected": { "type": "string", "description": "Expected type or condition." }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": ["error", "request_id"],
        "properties": {
          "error": { "$ref": "#/components/schemas/Error" },
          "request_id": { "type": "string", "minLength": 1 }
        }
      },
      "Job": {
        "type": "object",
        "additionalProperties": false,
        "required": ["id", "object", "status", "model", "error", "created_at"],
        "properties": {
          "parameter_notices": { "type": "array", "items": { "$ref": "#/components/schemas/ParameterNotice" }, "description": "Actual handling from the successful attempt snapshot; omitted before success." },
          "id": { "type": "string", "minLength": 1, "maxLength": 64, "description": "Opaque Job ID; do not parse it." },
          "object": { "type": "string", "const": "job" },
          "final_provider": { "type": "string", "minLength": 1, "description": "Provider of the adopted result, present only for successful jobs. Does not expose candidate routes." },
          "status": { "type": "string", "enum": ["queued", "running", "delivering", "succeeded", "failed", "cancelled"] },
          "model": { "type": "string", "minLength": 1 },
          "urls": { "$ref": "#/components/schemas/JobURLs" },
          "result": { "$ref": "#/components/schemas/Result" },
          "usage": { "$ref": "#/components/schemas/JobUsage" },
          "billing": { "$ref": "#/components/schemas/Billing" },
          "error": { "oneOf": [{ "$ref": "#/components/schemas/Error" }, { "type": "null" }] },
          "cancellation": { "$ref": "#/components/schemas/Cancellation" },
          "created_at": { "type": "integer", "format": "int64", "minimum": 1 },
          "completed_at": { "type": "integer", "format": "int64", "minimum": 1 }
        }
      },
      "JobStatusResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": ["id", "status", "error"],
        "properties": {
          "id": { "type": "string", "minLength": 1, "maxLength": 64, "description": "Opaque Job ID; do not parse it." },
          "status": { "type": "string", "enum": ["queued", "running", "delivering", "succeeded", "failed", "cancelled"] },
          "error": { "oneOf": [{ "$ref": "#/components/schemas/Error" }, { "type": "null" }] },
          "cancellation": { "$ref": "#/components/schemas/Cancellation" }
        }
      },
      "JobURLs": {
        "type": "object",
        "additionalProperties": false,
        "required": ["get", "cancel"],
        "properties": {
          "get": { "type": "string", "pattern": "^/v1/jobs/[^/]+$" },
          "cancel": { "type": "string", "pattern": "^/v1/jobs/[^/]+/cancel$" }
        }
      },
      "ResultContentSafety": {
        "type": "object",
        "additionalProperties": false,
        "required": ["status"],
        "description": "NSFW check outcome for the delivered result. `passed` with `checked_by: provider` means the upstream provider enforces content moderation; `passed` with `checked_by: yir` means Yir checked the output itself. `unchecked` means the output check was unavailable or could not be applied. Yir's output check only blocks explicit adult content. Omitted for historical results.",
        "properties": {
          "status": { "type": "string", "enum": ["passed", "unchecked"] },
          "checked_by": { "type": "string", "enum": ["provider", "yir"] }
        }
      },
      "Result": {
        "type": "object",
        "additionalProperties": false,
        "required": ["availability"],
        "properties": {
          "availability": { "type": "string", "enum": ["available", "expired"] },
          "files": { "type": "array", "minItems": 1, "items": { "$ref": "#/components/schemas/ResultFile" } },
          "warnings": { "type": "array", "minItems": 1, "maxItems": 1, "uniqueItems": true, "items": { "type": "string", "enum": ["additional_results_unavailable"] }, "description": "The primary result was delivered, but an optional additional result could not be delivered. Does not change Job success or authorize regeneration. Omitted when no delivery warning exists, including historical results." },
          "content_safety": { "$ref": "#/components/schemas/ResultContentSafety" }
        },
        "oneOf": [
          { "properties": { "availability": { "const": "available" } }, "required": ["files"] },
          { "properties": { "availability": { "const": "expired" } }, "not": { "required": ["files"] } }
        ]
      },
      "ResultFile": {
        "type": "object",
        "additionalProperties": false,
        "required": ["url", "media_type", "expires_at"],
        "properties": {
          "url": { "type": "string", "format": "uri", "pattern": "^https://" },
          "media_type": { "type": "string", "minLength": 3 },
          "width": { "type": "integer", "minimum": 0 },
          "height": { "type": "integer", "minimum": 0 },
          "expires_at": { "type": "integer", "format": "int64", "minimum": 1 }
        }
      },
      "JobUsage": {
        "type": "object",
        "additionalProperties": false,
        "required": ["outputs"],
        "properties": { "outputs": { "type": "integer", "minimum": 0 } }
      },
      "Cancellation": {
        "type": "object",
        "additionalProperties": false,
        "required": ["status", "requested_at"],
        "properties": {
          "status": { "type": "string", "enum": ["cancelled", "stop_requested"] },
          "effect": { "type": "string", "enum": ["stop_future_attempts"] },
          "requested_at": { "type": "integer", "format": "int64", "minimum": 1 }
        }
      },
      "Billing": {
        "type": "object",
        "additionalProperties": false,
        "required": ["currency", "compute_charges", "gateway_fee", "total_charged_by_yir"],
        "properties": {
          "billing_mode": { "$ref": "#/components/schemas/ActualBillingMode" },
          "currency": { "type": "string", "const": "USD" },
          "compute_charges": { "type": "array", "items": { "$ref": "#/components/schemas/ComputeCharge" } },
          "gateway_fee": { "$ref": "#/components/schemas/GatewayFee" },
          "total_charged_by_yir": { "$ref": "#/components/schemas/Decimal" },
          "max_cost": { "$ref": "#/components/schemas/MaxCost" },
          "official_comparison": { "$ref": "#/components/schemas/OfficialComparison" }
        }
      },
      "ComputeCharge": {
        "type": "object",
        "description": "Read-only billing facts for managed supply billed by Yir.",
        "additionalProperties": false,
        "required": ["supply_type", "billed_by", "amount", "amount_basis", "status"],
        "properties": {
          "supply_type": { "type": "string", "enum": ["managed"], "description": "Always managed: Yir buys and runs the supply for you." },
          "billed_by": { "type": "string", "enum": ["yir"], "description": "Always yir: the charge is deducted from your Yir wallet." },
          "amount": { "$ref": "#/components/schemas/Decimal" },
          "amount_basis": { "type": "string", "enum": ["yir_price_rule"], "description": "Always yir_price_rule: the channel's actual upstream cost for this attempt times your discount, as described in Quotes and billing." },
          "usage": { "type": "array", "items": { "$ref": "#/components/schemas/Usage" } },
          "status": { "type": "string", "enum": ["settled", "waived"] }
        }
      },
      "Usage": {
        "type": "object",
        "additionalProperties": false,
        "required": ["metric", "quantity", "unit"],
        "properties": {
          "metric": { "type": "string", "pattern": "^[a-z][a-z0-9_]*$" },
          "quantity": { "$ref": "#/components/schemas/Decimal" },
          "unit": { "type": "string", "pattern": "^[a-z][a-z0-9_]*$" }
        }
      },
      "GatewayFee": {
        "type": "object",
        "additionalProperties": false,
        "required": ["amount", "status"],
        "properties": {
          "amount": { "$ref": "#/components/schemas/Decimal" },
          "status": { "type": "string", "enum": ["settled", "waived"] }
        }
      },
      "OfficialComparison": {
        "type": "object",
        "additionalProperties": false,
        "description": "Successful jobs only. Complete fixed USD official price frozen at admission for the exact request. Savings is baseline minus all Yir charges, including recovery attempts; it may be negative. Omitted for historical jobs, dynamic prices and missing baselines.",
        "required": ["baseline_amount", "savings_amount"],
        "properties": {
          "baseline_amount": { "$ref": "#/components/schemas/Decimal" },
          "savings_amount": { "type": "string", "pattern": "^-?[0-9]+(?:\\.[0-9]+)?$" },
          "source_url": { "type": "string", "format": "uri" }
        }
      },
      "Decimal": { "type": "string", "pattern": "^(0|[0-9]+)(\\.[0-9]+)?$" },
      "CreateFilesRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["files"],
        "properties": {
          "files": { "type": "array", "minItems": 1, "maxItems": 20, "items": { "$ref": "#/components/schemas/CreateFile" } },
          "upload_mode": { "type": "string", "enum": ["auto", "multipart"], "default": "auto" }
        }
      },
      "CreateFile": {
        "type": "object",
        "additionalProperties": false,
        "required": ["name", "media_type", "size"],
        "properties": {
          "name": { "type": "string", "minLength": 1, "maxLength": 255 },
          "media_type": { "type": "string", "enum": ["image/jpeg", "image/png", "image/webp", "video/mp4", "video/webm", "audio/mpeg", "audio/wav"] },
          "size": { "type": "integer", "format": "int64", "minimum": 1, "maximum": 2147483648 }
        }
      },
      "CreateFilesResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": ["files"],
        "properties": { "files": { "type": "array", "minItems": 1, "maxItems": 20, "items": { "$ref": "#/components/schemas/File" } } }
      },
      "CompleteFileRequest": {
        "type": "object",
        "additionalProperties": false
      },
      "File": {
        "type": "object",
        "additionalProperties": false,
        "required": ["id", "object", "status", "name", "media_type", "size"],
        "properties": {
          "id": { "$ref": "#/components/schemas/FileID" },
          "object": { "type": "string", "const": "file" },
          "status": { "type": "string", "enum": ["pending_upload", "processing", "ready", "expired", "failed"], "description": "Completion starts asynchronous metadata analysis. Wait for ready before referencing this file in a job." },
          "width": { "type": "integer", "minimum": 1 },
          "height": { "type": "integer", "minimum": 1 },
          "name": { "type": "string", "minLength": 1, "maxLength": 255 },
          "media_type": { "type": "string" },
          "size": { "type": "integer", "format": "int64", "minimum": 1 },
          "upload": { "$ref": "#/components/schemas/FileUpload" },
          "url": { "type": "string" },
          "expires_at": { "type": "integer", "format": "int64", "minimum": 1 }
        }
      },
      "FileUpload": {
        "type": "object",
        "description": "Every new upload receives a multipart plan, and the Yir SDKs accept multipart only. Replaying a batch created before the multipart migration can still return the retired single-PUT plan, whose shape is outside this schema (type \"single\" with method, url, and headers); such batches cannot be resumed through the SDKs and should be created again.",
        "additionalProperties": false,
        "required": ["type", "parts", "expires_at"],
        "properties": {
          "type": { "type": "string", "enum": ["multipart"] },
          "parts": { "type": "array", "minItems": 1, "items": { "$ref": "#/components/schemas/UploadPart" } },
          "expires_at": { "type": "integer", "format": "int64", "minimum": 1 }
        }
      },
      "UploadPart": {
        "type": "object",
        "additionalProperties": false,
        "required": ["part_number", "size", "url"],
        "properties": {
          "part_number": { "type": "integer", "minimum": 1 },
          "size": { "type": "integer", "format": "int64", "minimum": 1 },
          "url": { "type": "string", "format": "uri" }
        }
      },
      "ParameterNotice": {
        "type": "object", "additionalProperties": false,
        "required": ["name", "disposition", "reason", "message"],
        "properties": {
          "name": { "type": "string", "minLength": 1 },
          "disposition": { "type": "string", "const": "ignored" },
          "reason": { "type": "string", "enum": ["channel_parameter_unsupported", "quality_requires_official_channel"] },
          "message": { "type": "string" }
        }
      },
      "ChannelParameters": {
        "type": "object", "additionalProperties": false,
        "required": ["provider", "channel_variant", "operation", "input_mode", "parameter_rules"],
        "description": "Declared public parameter handling, separate from runtime eligibility.",
        "properties": {
          "provider": { "type": "string" },
          "channel_variant": { "type": "string" },
          "operation": { "enum": ["generate_image", "generate_video"] },
          "input_mode": { "enum": ["text", "image", "reference"] },
          "parameter_rules": { "type": "object", "additionalProperties": false,
            "properties": { "quality": { "$ref": "#/components/schemas/ParameterRule" } } }
        }
      },
      "ParameterRule": {
        "type": "object", "additionalProperties": false,
        "required": ["behavior", "description"],
        "properties": {
          "behavior": { "enum": ["supported", "ignored", "rejected"] },
          "values": { "type": "array", "uniqueItems": true, "items": { "type": "string" } },
          "reason": { "type": "string" },
          "description": { "type": "object", "additionalProperties": false, "required": ["zh", "en"],
            "properties": { "zh": { "type": "string" }, "en": { "type": "string" } } }
        }
      },
      "ModelDetail": {
        "type": "object",
        "additionalProperties": false,
        "required": ["id", "object", "specifications"],
        "properties": {
          "channel_parameters": { "type": "array", "items": { "$ref": "#/components/schemas/ChannelParameters" } },
          "id": { "type": "string", "pattern": "^[a-z0-9._-]+/[a-z0-9._-]+$" },
          "object": { "type": "string", "const": "model" },
          "specifications": { "type": "array", "minItems": 1, "items": { "$ref": "#/components/schemas/ModelSpecification" } }
        }
      },
      "ModelSpecification": {
        "type": "object",
        "additionalProperties": false,
        "required": ["request_model_id", "operation", "input_mode", "specification_label", "currency", "channels"],
        "properties": {
		  "request_model_id": { "type": "string", "pattern": "^[a-z0-9._-]+/[a-z0-9._-]+$" },
          "operation": { "type": "string", "enum": ["generate_image", "generate_video"] },
		  "input_mode": { "type": "string", "enum": ["text", "image", "reference"] },
          "specification_label": { "type": "string", "minLength": 1 },
          "currency": { "type": "string", "const": "USD" },
          "channels": { "type": "array", "minItems": 1, "items": { "$ref": "#/components/schemas/ModelChannelPrice" } }
        }
      },
      "ModelChannelPrice": {
        "type": "object",
        "additionalProperties": false,
        "required": ["provider_code", "provider_label", "availability", "estimated", "specification_label"],
        "properties": {
          "provider_code": { "type": "string", "minLength": 1 },
          "provider_label": { "type": "string", "minLength": 1 },
          "amount_micros": { "type": "integer", "format": "int64", "minimum": 0 },
          "availability": { "type": "string", "enum": ["available", "unavailable"] },
          "estimated": { "type": "boolean" },
          "specification_label": { "type": "string", "minLength": 1 }
        }
      },
      "ModelContractCatalog": {
        "type": "object",
        "additionalProperties": false,
        "required": ["schema_version", "schema_ref", "models"],
        "properties": {
          "schema_version": { "type": "string", "const": "v1" },
          "schema_ref": { "type": "string", "const": "./standard-openapi.json#/components/schemas/ModelContractCatalog" },
          "version": { "type": "string", "pattern": "^[a-f0-9]{64}$", "description": "Present in API responses; omitted from the static contract file bundled with the SDKs." },
          "models": { "type": "array", "minItems": 1, "items": { "$ref": "#/components/schemas/StaticModelContract" } }
        },
        "description": "Language-neutral static model contracts generated with this Standard OpenAPI release. Runtime price, health, authorization and route facts are excluded."
      },
      "ModelContractList": {
        "type": "object",
        "additionalProperties": false,
        "required": ["schema_version", "schema_ref", "version", "models"],
        "properties": {
          "schema_version": { "type": "string", "const": "v1" },
          "schema_ref": { "type": "string", "const": "./standard-openapi.json#/components/schemas/ModelContractCatalog" },
          "version": { "type": "string", "pattern": "^[a-f0-9]{64}$" },
          "models": { "type": "array", "minItems": 1, "items": { "$ref": "#/components/schemas/ModelContractSummary" } }
        }
      },
      "ModelContractSummary": {
        "type": "object",
        "additionalProperties": false,
        "required": ["id", "aliases", "locales"],
        "properties": {
          "id": { "type": "string", "pattern": "^[a-z0-9._-]+/[a-z0-9._-]+$" },
          "aliases": { "type": "array", "items": { "type": "string", "minLength": 1 }, "uniqueItems": true },
          "locales": { "$ref": "#/components/schemas/ModelContractLocales" }
        }
      },
      "ModelContractDetail": {
        "type": "object",
        "additionalProperties": false,
        "required": ["schema_version", "schema_ref", "version", "model"],
        "properties": {
          "schema_version": { "type": "string", "const": "v1" },
          "schema_ref": { "type": "string", "const": "./standard-openapi.json#/components/schemas/ModelContractCatalog" },
          "version": { "type": "string", "pattern": "^[a-f0-9]{64}$" },
          "model": { "$ref": "#/components/schemas/StaticModelContract" }
        }
      },
      "StaticModelContract": {
        "type": "object",
        "additionalProperties": false,
        "required": ["id", "aliases", "locales", "operations"],
        "properties": {
          "id": { "type": "string", "pattern": "^[a-z0-9._-]+/[a-z0-9._-]+$" },
          "aliases": { "type": "array", "items": { "type": "string", "minLength": 1 }, "uniqueItems": true },
          "locales": { "$ref": "#/components/schemas/ModelContractLocales" },
          "operations": { "type": "array", "minItems": 1, "items": { "$ref": "#/components/schemas/StaticModelOperationContract" } }
        }
      },
      "StaticModelOperationContract": {
        "type": "object",
        "additionalProperties": false,
        "required": ["operation", "input_modes", "input_constraints", "request_schema", "parameters"],
        "properties": {
          "operation": { "type": "string", "enum": ["generate_image", "generate_video"] },
          "input_modes": { "type": "array", "minItems": 1, "uniqueItems": true, "items": { "type": "string", "enum": ["text", "image", "reference"] } },
          "input_constraints": {
            "type": "object",
            "additionalProperties": { "$ref": "#/components/schemas/StaticModelInputConstraint" }
          },
          "request_schema": { "type": "string", "pattern": "^#/components/schemas/[A-Za-z0-9]+$" },
          "parameters": { "type": "array", "minItems": 1, "items": { "$ref": "#/components/schemas/StaticModelParameterContract" } }
        }
      },
      "StaticModelInputConstraint": {
        "type": "object",
        "additionalProperties": false,
        "required": ["min_references", "max_references", "allowed_reference_roles"],
        "properties": {
          "min_references": { "type": "integer", "minimum": 0 },
          "max_references": { "type": "integer", "minimum": 0 },
          "allowed_reference_roles": {
            "type": "array",
            "uniqueItems": true,
            "items": { "type": "string", "enum": ["first_frame", "last_frame", "reference_image", "reference_video", "reference_audio"] }
          },
          "required_reference_roles": {
            "type": "array",
            "uniqueItems": true,
            "items": { "type": "string", "enum": ["first_frame", "last_frame", "reference_image", "reference_video", "reference_audio"] }
          },
          "max_duration_by_reference_role": {
            "type": "object",
            "description": "Maximum generated video duration in seconds when a reference of the keyed role is present; not input media duration.",
            "additionalProperties": { "type": "integer", "minimum": 1 }
          },
          "reference_counts_by_role": {
            "type": "object",
            "additionalProperties": {
              "type": "object", "additionalProperties": false,
              "required": ["minimum", "maximum"],
              "properties": {
                "minimum": { "type": "integer", "minimum": 0 },
                "maximum": { "type": "integer", "minimum": 0 }
              }
            }
          },
          "required_any_reference_roles": {
            "type": "array", "uniqueItems": true,
            "items": { "type": "string", "enum": ["first_frame", "last_frame", "reference_image", "reference_video", "reference_audio"] }
          }
        }
      },
      "StaticModelParameterContract": {
        "type": "object",
        "additionalProperties": false,
        "required": ["name", "type", "required", "control", "locales"],
        "properties": {
          "name": { "type": "string", "pattern": "^[a-z][a-z0-9_]*$" },
          "type": { "type": "string", "enum": ["string", "integer", "number", "boolean"] },
          "required": { "type": "boolean" },
          "values": { "type": "array", "minItems": 1, "uniqueItems": true, "items": { "$ref": "#/components/schemas/ModelParameterValue" } },
          "default": { "$ref": "#/components/schemas/ModelParameterValue" },
          "minimum": { "type": "number" },
          "maximum": { "type": "number" },
          "control": { "type": "string", "enum": ["select", "aspect_ratio", "number", "toggle", "file", "text"] },
          "locales": { "$ref": "#/components/schemas/ModelContractLocales" }
        }
      },
      "ModelParameterValue": {
        "oneOf": [
          { "type": "string" },
          { "type": "number" },
          { "type": "boolean" }
        ]
      },
      "ModelContractLocales": {
        "type": "object",
        "minProperties": 1,
        "additionalProperties": { "$ref": "#/components/schemas/ModelContractLocale" }
      },
      "ModelContractLocale": {
        "type": "object",
        "additionalProperties": false,
        "required": ["label", "description"],
        "properties": {
          "label": { "type": "string", "minLength": 1 },
          "description": { "type": "string", "minLength": 1 }
        }
      }
    }
  }
}
